.header-top.right.col-lg-6{
    a{
        text-decoration: none;
        margin-left: 20px;
        color: black;
    }

    i{
        color: black;
        
    }

}

.header-bottom {
    background-color: #E8ECF1;
    width: 100%;

    .left.col-lg-9{
    
        a{
           color: black; 
           margin-left: 10px;
           text-decoration: none;
        }
    }

    .right.col-lg-3{
        
        button{
            background-color:#F45369 ;
            color: white;
            border: none;
            width: 30%;
            height: 80%;
            border-radius: 10px;
            text-align: center;
            padding: 5px 5px;
        }
    }
}
